.container-albums {
    color: white;
    margin-top: 25px;
    border: 7px solid rgb(0, 0, 0);
    background: rgba(241, 24, 24, 0.64);
}

.titulo {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgb(0, 0, 0);
    font-size: 35px;
}