.container-albums {
    color: white;
    margin-top: 25px;
    border: 7px solid rgb(0, 0, 0);
    background: rgba(241, 24, 24, 0.64);
}

.titulo {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: rgb(0, 0, 0);
    font-size: 30px;
}