.imagen {
    width: 20px;
    height: 20px;
}

.uranio {
    border: 2px solid red;
    background-color: rgba(255, 0, 0, 0.152);
}

.diamante {
    border: 2px solid rgb(47, 0, 255);
    background-color: rgba(0, 0, 255, 0.139);
}