<p>albums-list works!</p>
<table class="table table-sm">
 <thead>
    <tr>
        <th>imagen</th>
        <th>Nombre</th>
        <th>Banda</th>
        <th>Descripcion</th>
        <th>Esitlo</th>
        <th>Año</th>
    </tr>
 </thead>
 <tbody>
    <tr *ngFor="let album of albums" [ngClass]="{'uranio': album.uranio, 'diamante': album.diamante, 'platino': album.platino}">
        <td><img width="210" class="rounded float-start" [src]="album.imagen" alt="album.nombre"></td>
        <td>{{album.nombre | uppercase}}</td>
        <td>{{album.banda}}</td>
        <td>{{album.descripcion}}</td>
        <td>{{album.estilo}}</td>
        <td>{{album.anio | uppercase}}</td>
        <button  type="button" class="btn btn-outline-dark btn-sm" (click)="addAlbumFavorito(albums)">⭐</button>
        <!-- <app-button-favoritos></app-button-favoritos> -->
        <!-- (addFavorito)="addFavorito($event)" -->
    </tr>
