<div container-historia>
    nav
    <h1>La historia del rock</h1>
    <br>
        <h6>El Rock derivó de otros estilos musicales como el Jazz, Blues, Country y el Folk, estos estilos forma parte de la gama de subgéneros que este estilo musical tiene, la cual es diversa, desde su nacimiento en la década de 1950 hasta la actualidad el Rock ha sido participe de diversos cambios y mezclas que lo han dotado de numerosas tonalidades, entre los subgéneros encontramos el Soft Rock, el Heavy Metal, el Hard Rock, el Indie Rock, el Punk, el Rock Alternativo, entre otras, asi mismo de la mezcla de estilos nacen el Blues Rock, Folk Rock, Jazz Rock-Fusion y el Contry Rock.</h6>
            <img width="400" src="assets/img/LongLiveRock.jpg" alt="" class="nacimientoRock">
</div>